/* ------------------ FONTS ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* ------------------ GENERAL ------------------ */

body {
  margin: 0px;
  background-color: rgb(230, 230, 230);
  overflow-x: hidden;
  transition: linear 1s;
}

header {
  width: 100vw;
  height: 10vh;
  display: inline-flex;
  justify-content: center;
}

#logo {
  font-family: Fredoka One;
  font-size: 20px;
  letter-spacing: 20px;
  color: rgb(60, 60, 60);
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, 0);
}

.slider {
  width: 55px;
}

#parrotContainer {
  padding-top: 5vh;
  display: none;
}

#parrotContainer img {
  height: 50px;
}

/* ------------------ TOOLBOX & CANVAS ------------------ */

.toolbox {
  position: absolute;
  background-color: rgb(240, 240, 240);
  width: 80px;
  box-shadow: 0.5px 0.5px 5px 0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.toolbox.left {
  height: 70vh;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.toolbox.left img {
  padding-left: 2px;
  padding-right: 2px;
}

.toolbox.left img:hover {
  background-color: rgb(182, 179, 179);
}

.toolbox.right {
  height: 70vh;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  font-weight: bold;
}

.toolbox img {
  filter: invert(15%) sepia(0%) saturate(482%) hue-rotate(209deg) brightness(90%) contrast(93%);
  cursor: pointer;
  padding: 7px 0 7px 0;
  border-radius: 10px;
}

.constant {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #999;
}

.lastItem {
  border-bottom: 1px solid #999;
}

.canvas {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  box-shadow: 0.5px 0.5px 5px 0.5px rgba(0, 0, 0, 0.2);
}

.constant {
  border-bottom: 1px solid #999;
}

#polygonSidesContainer {
  display: none;
}

/* ------------------ ICONS ------------------ */


.toolbox.right img {
  cursor: pointer;
  padding: 15px 0 15px 0;
  border-radius: 10px;
}

.toolbox.right img:hover {
  background-color: rgb(182, 179, 179);
}

#strokeFill {
  border-radius: 10px;
}

#objectFill {
  border-radius: 10px;
}

.polygonSidesContainer {
  padding-top: 25px;
}


/* ------------------ POPUPS ------------------ */
.cate {
  position: relative;
  padding: 7px 0 7px 0;
  height: 60px;
  width: 60px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.cate:hover {
  cursor: pointer;
}

.cate-items {
  position: absolute;
  left: 100px;
  display: none;
}

.cate-items div {
  position: absolute;
  left: -15px;
  background-color: rgb(240, 240, 240);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0.5px 0.5px 5px 0.5px rgba(0, 0, 0, 0.2);
}

.cate-items img {
  position: absolute;
  left: 10.5px;
  bottom: 5.5px;
}

.cate-item-1 {
  position: absolute;
  bottom: 8px;
}

.cate-item-2 {
  position: absolute;
  /* top: 22px; */
}

.cate-item-3 {
  position: absolute;
  top: 68px;
}

/* ------------------ TEXT ------------------ */

/* to make the text box invisible by default */
#textInput {
  display: none;
  position: absolute;
  z-index: 5;
  background-color: transparent;
  background-image: none;
  border: 1px dotted gray;
  font-family: Impact;
}

/* ------------------ DARK & PARTY MODES ------------------ */
.bodyPartyMode {
  animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground {
  0% {
    background-color: #10c018;
  }

  25% {
    background-color: #1056c0;
  }

  50% {
    background-color: #ef0a1a;
  }

  75% {
    background-color: #254878;
  }

  100% {
    background-color: #04a1d5;
  }
}

.h1BWToggle {
  font-family: Fredoka One;
  font-size: 20px;
  letter-spacing: 20px;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #e0e0e0;
}

.bodyDarkMode {
  background-color: rgb(60, 60, 60);
  transition: linear 1s;
}

.modeBtn {
  border-radius: 10px;
  height: 50px;
  width: 50px;
  font-size: 8px;
}

/* ------------------ Toggle ------------------ */